# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=hr_pro_data

# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/
MONGO_DB=hr_pro_db

# MySQL Configuration
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=root_password
MYSQL_DATABASE=hr_pro_db