# Entorno virtual (donde uv instala las librerías)
.venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Datos (¡Importante para no petar GitHub ni tu repo!)
data/
*.csv
*.json
*.log

# Variables de entorno (Contraseñas de tus DBs)
.env

# Configuración de VS Code
.vscode/